<div class="hero-section">
  <!-- Navegación -->
  <nav class="navbar">
    <img src="assets/images/logo.png" alt="Logo" class="logo" />
    <ul class="nav-links">
      <li><a href="#">Reservar Cita</a></li>
      <li><a href="#">Tienda</a></li>
      <li><a  [routerLink]="['/main/services']">Servicios</a></li>
      <li><a href="#">Ubicaciones</a></li>
      <li><a href="#">Mi Cuenta</a></li>
      <li><a href="#">🛒</a></li>
    </ul>
  </nav>

  <!-- Texto principal -->
  <div class="hero-content">
    <h2>LOS MEJORES AMBIENTES DE</h2>
    <h1>BARBERÍA CLÁSICA</h1>
    <button>RESERVAR UNA CITA</button>
  </div>
</div>
